.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.text {
  text-align: center;
}
.subtext {
  color: #c62828;
  text-align: center;
}
.fileName {
  text-align: center;
}
.uploadButton {
  text-align: center;
}

.textContainer {
  display: grid;
  grid-gap: 2rem;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
